<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuanqinnan.mapper.OrderMapper">
    <!-- resultMap最终还是要将结果映射到pojo上，type就是指定映射到哪一个pojo -->
    <!-- id：设置ResultMap的id -->
    <resultMap type="com.yuanqinnan.model.Order" id="orderResultMap">
        <!-- 定义主键 ,非常重要。如果是多个字段,则定义多个id -->
        <!-- property：主键在pojo中的属性名 -->
        <!-- column：主键在数据库中的列名 -->
        <id property="id" column="id"/>
        <!-- 定义普通属性 -->
        <result property="userId" column="user_id"/>
        <result property="number" column="number"/>
        <result property="createtime" column="createtime"/>
        <result property="note" column="note"/>
    </resultMap>


    <!-- 查询所有的订单数据 -->
    <select id="queryOrderAll" resultType="com.yuanqinnan.model.Order">
        SELECT id, user_id,
        number,
        createtime, note FROM `order`
    </select>

    <select id="queryOrderAll2" resultMap="orderResultMap">
        SELECT id, user_id,
        number,
        createtime, note FROM `order`
    </select>
    <select id="queryOrderUser" resultType="com.yuanqinnan.pojo.OrderUserVO">
        SELECTo.id,o.user_id,userId,o.number,o.createtime,o.note,u.username,u.address
        FROM
        `order` o
        LEFT JOIN `user` u ON o.user_id = u.id
    </select>
    <resultMap type="com.yuanqinnan.model.Order" id="orderUserResultMap">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="number" column="number"/>
        <result property="createtime" column="createtime"/>
        <result property="note" column="note"/>

        <!-- association ：配置一对一属性 -->
        <!-- property:order里面的User属性名 -->
        <!-- javaType:属性类型 -->
        <association property="user" javaType="user">
            <!-- id:声明主键，表示user_id是关联查询对象的唯一标识-->
            <id property="id" column="user_id"/>
            <result property="username" column="username"/>
            <result property="address" column="address"/>
        </association>

    </resultMap>
    <!-- 一对一关联，查询订单，订单内部包含用户属性 -->
    <select id="queryOrderUserResultMap" resultMap="orderUserResultMap">
        SELECT o.id,o.user_id,o.number,o.createtime,o.note,u.username,u.address
        FROM
        `order` o
        LEFT JOIN `user` u ON o.user_id = u.id
    </select>
    <resultMap type="com.yuanqinnan.model.Order" id="orderBean">
        <id column="id" property="id"/>
        <result property="userId" column="user_id"/>
        <result property="number" column="number"/>
        <result property="createtime" column="createtime"/>
        <result property="note" column="note"/>

        <collection property="products" ofType="com.yuanqinnan.model.OrderProduct">
            <id column="oiid" property="id"/>
            <result column="oid" property="oid"/>
            <result column="pid" property="pid"/>
            <association property="product" javaType="com.yuanqinnan.model.Product">
                <id column="pid" property="id"/>
                <result column="pname" property="name"/>
            </association>
        </collection>
    </resultMap>

    <select id="listOrder" resultMap="orderBean">
        SELECT
        o.*,
        o.id oid,
        p.id pid,
        oi.id oiid,
        p.NAME pname
        FROM
        `order` o
        LEFT JOIN order_product oi ON o.id = oi.oid
        LEFT JOIN product p ON p.id = oi.pid
    </select>

</mapper>