<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="hello" class="com.yuanqn.ioc.HelloWorld">
        <property name="info" value="Hello,This is my first Spring Application!"></property>
    </bean>
    <bean id="hello2" init-method="getInfo" destroy-method="destory" class="com.yuanqn.ioc.HelloWorld">
    </bean>
    <bean name="hello3"
          class="com.yuanqn.ioc.HellowWorldFactory"
          factory-method="createHellowWorld">
    </bean>
    <bean id="HellowWorldFactory2" class="com.yuanqn.ioc.HellowWorldFactory2"/>
    <bean id="hello4" factory-bean="HellowWorldFactory2" factory-method="createHellowWorld"/>

    <bean name="user" class="com.yuanqn.ioc.User">
        <!--值类型注入-->
        <property name="age" value="18"></property>
        <property name="name" value="tom"></property>
        <!-- 引用类型注入-->
        <property name="car" ref="car"></property>
    </bean>
    <bean name="car" class="com.yuanqn.ioc.Car">
        <property name="color" value="blue"></property>
    </bean>
    <!--构造函数注入-->
    <bean name="user2" class="com.yuanqn.ioc.User">
        <constructor-arg name="name" index="0" type="java.lang.String" value="lucy"></constructor-arg>
        <constructor-arg name="age" index="1" type="java.lang.Integer" value="20"></constructor-arg>
        <constructor-arg name="car" ref="car"></constructor-arg>
    </bean>
    <bean name="user3" class="com.yuanqn.ioc.User">
        <property name="name" value="#{user.name}"></property>
        <property name="age" value="#{user2.age}"></property>
        <!-- 引用类型注入 为car属性注入下方配置的car对象-->
        <property name="car" ref="car"></property>
    </bean>
    <!--复杂类型注入
    <bean>
        <property name="arr">
            <array>
                <value>tom</value>
                <value>lucy</value>
                <ref bean="user2"></ref>
            </array>
        </property>
        <property name="list">
            <list>
                <value>tom</value>
                <value>lucy</value>
                <ref bean="user2"></ref>
            </list>
        </property>
        <property name="map">
            <map>
                <entry key="url" value=""></entry>
                <entry key="user" value-ref="user"></entry>
                <entry key-ref="user3" value-ref="user2"></entry>
            </map>
        </property>
        <property name="prop">
            <props>
                <prop key="url">com.jbdc.mysql.Driver</prop>
                <prop key="userName">root</prop>
                <prop key="password">1234</prop>
            </props>
        </property>
        <property name="set">
            <set>
                <value>com.jbdc.mysql.Driver</value>
                <value>root</value>
                <ref bean="user"/>
            </set>
        </property>
    </bean>
    -->
</beans>